* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Arial", sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

header {
    width: 100%;
    background-color: #4a1b86;
    color: #fff;
    padding: 2% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

header > h1 {
    font-size: 20px;
}

nav > ul {
    display: flex;
    gap: 2%;
    list-style: none;
}

ul > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 999px;
    border: 1px solid rgba(148, 163, 184, 0.2);
}
ul > a:hover {
    background-color: #7533ca;
}

h2 {
    text-align: center;
}

main {
    padding: 5% 0%;
}

p{
    margin-top: 2%;
}

.chart-container {
    width: 90%;
    max-width: 700px;
    margin: 40px auto;
    background: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
canvas {
    width: 100%;
    height: 400px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container > .chart-container {
    width: 90%;
}